.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  background-color: transparent !important;
}

.hidden {
  display: none;
}

.revealTweet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border-color: #1da1f1 !important; */
  /* color: #1da1f1; */
}

.revealTweet:hover {
  background-color: #0069d9 !important;
}

.btn.btn-primary{
  padding: 10px;
  border-radius: 5px; 
  border: none;
  color: #fff;
  background-color: #007bff;
}


.s-label {
  padding: 6px;
  color: #fff;
  background-color: red;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
